<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Welcome {{loggedUsername}} </span>
    <span class="spacer"></span>
    <button mat-icon-button routerLink="/login" *ngIf="!isLoggedIn">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button routerLink="/logout" *ngIf="isLoggedIn">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


<!-- <a routerLink="/cashier">Cashier</a>
  <a routerLink="/cook">Cook</a>
  <a routerLink="/bartender">Bartender</a>
  <a routerLink="/waiter">Waiter</a> -->
