<h1>Cashier Dashboard</h1>

<div id="add_user">
  <h1>Add User</h1>

  <form #register_form="ngForm" (submit)="registerUser(register_form)">
    <mat-form-field>
      <input matInput type="text" placeholder="Username" name="username" ngModel required>
    </mat-form-field>

    <br>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" ngModel required>
    </mat-form-field>

    <br>

    <mat-radio-group name="role" required ngModel>
      <mat-radio-button *ngFor="let role of newUserPossibleRoles" [value]="role.toLowerCase()">{{ role
        }}</mat-radio-button>
    </mat-radio-group>

    <br>

    <button mat-raised-button color="primary" type="submit">Register</button>
    <button mat-raised-button type="reset" (click)="registerMessage = undefined">Reset</button>

    <div class="res-div" [hidden]="registerMessage === undefined">
      {{ registerMessage }}
    </div>
  </form>
</div>


<div id="create_receipt">
  <h1>Create Receipt</h1>

  <form #receipt_form="ngForm" (submit)="createReceipt(receipt_form)">
    <mat-radio-group name="table_num" *ngIf="tablesToPay" required ngModel>
      <p>Select one of those tables:</p>
      <mat-radio-button *ngFor="let table of tablesToPay" [value]="table">{{ table }}</mat-radio-button>
    </mat-radio-group>

    <br>

    <button mat-raised-button color="primary" type="button" (click)="refreshOrders()">Refresh Orders</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="tablesToPay === undefined">View Receipt</button>

    <div class="res-div" *ngIf="receiptTotal !== undefined">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Receipt for Table {{ receiptTotal.table_num }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Dishes Ordered</p>
          <li *ngFor="let i of receiptTotal.items">{{ i }}</li>
          <p>Total: € {{receiptTotal.total_price}}</p>
        </mat-card-content>
      </mat-card>

      <button mat-raised-button type="button" color="primary" (click)="payReceipt(receiptTotal.table_num)">Pay</button>
    </div>

    <div class="res-div" [hidden]="receiptMessage === undefined">
      {{ receiptMessage }}
    </div>
  </form>
</div>


<div id="waiting_orders">
  <h1>Orders yet to be cooked</h1>
  <button mat-raised-button color="primary" type="button" (click)="refreshPendingOrders()">Refresh</button>
  <div class="order-div" *ngIf="ordersPending !== undefined">
    <mat-card class="order-card" *ngFor="let order of ordersPending">
      <mat-card-header>
        <mat-card-title>Order for table {{ order.table_num }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Dishes Ordered</p>
        <li *ngFor="let i of order.items">{{ i }}</li>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="res-div" [hidden]="ordersPendingMessage === undefined">
    {{ ordersPendingMessage }}
  </div>
</div>

<div id="view_tables">
  <h1>View Free Tables</h1>
  <button mat-raised-button color="primary" type="button" (click)="getTables()">Refresh</button>

  <div class="tables-div" *ngIf="tablesCurrent !== undefined">
    <mat-card class="table-card" *ngFor="let table of tablesCurrent">
      <mat-card-header>
        <mat-card-title>Table {{ table.table_num }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Available Seats: {{ table.seats }}</p>
        <p>Occupied Seats: {{ table.occupied_seats }}</p>
        <p>Waiter ID: {{ table.waiter_id }}</p>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="res-div" [hidden]="tablesMessage === undefined">
    {{ tablesMessage }}
  </div>
</div>


<h1>Get Average Cooking Time</h1>
<button mat-raised-button color="primary" type="button" (click)="getAvgProcessingTime()">Refresh</button>
<div class="res-div" [hidden]="avgTimeMessage === undefined">
  {{ avgTimeMessage }}
</div>


<h1>Get Daily Revenue</h1>
<button mat-raised-button color="primary" type="button" (click)="getDailyRevenue()">Refresh</button>
<div class="res-div" [hidden]="revenueMessage === undefined">
  {{ revenueMessage }}
</div>
