/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.order-card, .table-card, .food-card {
  max-width: 300px;
}

.order-div, .tables-div, .food-div {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.res-div {
  margin: 3px;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.5);
}
